<h1 class="mb-5">相談一覧</h1>

<% @questions.each do |question| %>
  <div class="row justify-content-around">
    <div class="card text-center col-6 shadow-lg my-5">
      <h5 class="card-header">タイトル：<%= question.title %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= question.content %></h5>
        <h5 class="card-content"><%= question.category_ids %></h5>
        <p class="card-text text-right text-muted">投稿者：<%= question.user_id %></p>
        <%= link_to '詳細', question, class: "btn btn-info btn-lg" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container my-5">
  <hr>
</div>

<div class="container my-5">
  <%= link_to '新規質問作成', new_question_path, class: "btn btn-success btn-lg" %>
</div>
