<h2>質問内容</h2>
<h3>投稿者:<%= @question.user_id %></h3>
<p>
  <strong>タイトル:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @question.content %>
</p>

<%= link_to '戻る', questions_path, class: "btn btn-secondary" %>
<%= link_to '編集', edit_question_path(@question), class: "btn btn-success" %>
<%= link_to '削除', @question, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
