<h1>ニュース一覧</h1>

<%= will_paginate @newss, list_classes: %w(pagination justify-content-center), :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<% @newss.each do |news| %>
  <div class="row justify-content-around">
    <div class="card text-center shadow-lg my-5 h-75" style="height: 300px;">
      <h5 class="card-header">タイトル：<%= news.title %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= news.content %></h5>
        <p class="card-text text-right text-muted">投稿者：<%= User.find_by(id: news.user_id).name %></p>
        <%= link_to '詳細', news, class: "btn btn-info btn-lg" %>
      </div>
    </div>
  </div>
<% end %>
<%= will_paginate @newss, list_classes: %w(pagination justify-content-center), :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>

<div class="container my-5">
  <hr>
</div>


