<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-4">
    <div class="row justify-content-around">
      <div class="card text-center col-8 shadow-lg my-3">
        <h5 class="card-header">タイトル: <%= form.text_field :title %></h5>
        <div class="card-body">
          <h5 class="card-title">投稿内容: <%= form.text_area :content %></h5>
          <div class="actions">
            <%= form.submit "投稿", class: "btn btn-success btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <hr>
</div>
<% end %>
