<div class="container my-3">
  <h1>カテゴリー: <%= @category.name %></h1>
</div>

<div class="container">
  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => " / " %>
  </ol>
</div>

<%= link_to '新規相談作成', new_question_path, class: "btn btn-success btn-lg my-3" %>

<% @questions.each do |question| %>
  <div class="row justify-content-around">
    <div class="card text-center shadow-sm my-5 h-75" style="height: 500px; width: 800px;">
      <h5 class="card-header">タイトル：<%= question.title %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= question.content %></h5>
        <% question.categories.each do |category| %>
          <h5><span>
            <%= link_to category.name, category_path(id: category.id), class: "badge badge-pill badge-secondary" %>
          </span></h5>
        <% end %>
        <p class="card-text text-right text-muted">投稿者：<%= question.user.name %></p>
        <%= link_to '詳細', question, class: "btn btn-info btn-lg" %>
      </div>
    </div>
  </div>
<% end %>