<!DOCTYPE html>
<html>
  <head>
    <title>介護情報Q&Aサイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- deviseによる追加 -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
  <!-- ログインしているかしてないかで上部のメニューの表示が変わる -->
    <% if user_signed_in? %>
      <%= link_to 'プロフィール変更', edit_user_registration_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'サインアップ', new_user_registration_path %>
      <%= link_to 'ログイン', new_user_session_path %>
    <% end %>

    <%= yield %>
  </body>
  <footer>
    <p>©︎Permz.</p>
  </footer>
</html>
